/* Setting default styling  */

:root {
    /* Light theme colors */
    --lightBlue: 87, 224, 234;
    --paleCerulean: 164, 197, 221;
    --queenPink: 235, 209, 220;
    --aliceBlue: 219, 231, 241;
    --lightGrey: 204, 206, 211;
    --darkGrey: 73, 80, 87;
    --text: 33, 37, 41;
    --read: 183, 228, 199;

    /* Dark theme colors */
    --spaceCadet: 45, 49, 66;
    --blackCoral: 79, 93, 117;
    --silver: 191, 192, 192;
    --white: 255, 255, 255;
    --mandarin: 239, 131, 84;

    /* Font color */
    color: rgb(var(--text));
}

/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}

.pageMask {
    position: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
  }

.button {
    background: none;
	color: inherit;
	border: 1px dashed;
    border-color: (var(--text));
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight: bolder;
}

.border {
    width: 95%;
    height: 95%;
    border: 1px solid; 
    border-color: rgb(var(--text));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header styling */

.header {
    height: 30%;
    background-color: rgb(var(--paleCerulean));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    gap: 10px;
    margin-left: 30px;
    width: 25%;
    justify-content: center;
    margin-right: 15px;
}

.headerMiddle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed;
    border-color: black;
    padding: 5px;
}

.formContent {
    display: flex;
    width: clamp(20% 50% 90%);
    height: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.formStart {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
}

.formMid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
}

.headerRight {
    margin-right: 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.headerRight button {
    width: 100px;
}

/* Main styling */

.main {
    height: 60%;
    background-color: rgb(var(--aliceBlue));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

/* Footer styling */

.footer {
    height: 10%;
    background-color: rgb(var(--paleCerulean));
    box-shadow: 10px 10px 10px black;
}

.contactList {
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

/* Mark as read styles */

.tile {
    background-color:lightsteelblue;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tileBorder {
    width: 95%;
    height: 95%;
    border: 1px solid;
    border-color: rgb(var(--text));
    display: flex;
    justify-content: center;
    align-items: center;
}

.tileButton {
    background: none;
    background-color: rgb(var(--spaceCadet));
	color: rgb(var(--white));
	border: 1px dashed; 
    border-color: rgb(var(--text));
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;   
    font-weight: bold;
}

.tileButtonRead {
    background-color: rgb(116, 33, 33);
}

.tileButtonUnread {
    background-color: rgb(45, 95, 45);
}

#readBtn {
    display: block;
}

#unreadBtn {
    display: none;
}

.tileHouse {
    height: 90%;
    width: 90%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tileContents {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 20px;
}

.tileText {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}

.tileButtonDiv {
    height: 30%;
    width: 100%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.title {
    font-size: 1.1rem;
    height: 20%;
    width: 100%;
}

/* Theme */

